@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color-header: #ABB8A5;
    --bg-color-selector: #89AE80;
    --text-title-theme-color: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}