header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color-header);
    border-bottom: 1px solid rgb(0, 0, 0);

    h1 {
        font-size: 26px;
    }

    input {
        font-size: 16px;
        width: 20rem;
        height: 2rem;
        padding: 0.25rem;
        outline: none;
        border: 1px solid #eee;
        border-radius: 5px;
        -webkit-transition: 0.2s;
        transition: 0.2s all ease-in-out;
        &:focus{
            border-bottom: 1px solid #ccc;
        }
        
    }

    nav {
        display: flex;
        justify-content: center;
        width: 20rem;
        ul {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            width: 20rem;
            font-size: 18px;
            
            li {
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // background-color:#f1f1f1;
                // border-radius: 5px;
                // height: 2rem;
                // width: 20rem;
                list-style-type: none;
                a {
                    &{
                        display: block;
                        position: absolute;
                        top: 25px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        top: 25px;
                        bottom: 0;
                        left: 0;
                        background-color: #d1d1d1;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }
    
                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}